body .card {
    border: solid;
    border-color: azure;
  }
  .card p { margin: 0%; margin-top:0.5vmin; }
tr{
  height: 4vmin;
}
#map{
  height: 60vmin;
  width: 100%;
  color: black;
  border: solid;
  border-width: 2vmin;
  border-color: azure;
} 
#mapdiv{
  width: 80%;
  height: 60vmin;

}
